<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/views/home.css">

    <title>Comercio Tech</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="../assets/logo.png" alt="Comercio Tech" height="30">
        </div>
    </header>

    <main>
        <div class="title-container">
            <h1>Bienvenido a Comercio Tech !</h1>
        </div>
        <div class="links-container">
            <a href="/productos" class="home-links">ver productos</a>
            <a href="/docs" class="home-links">documentación</a>
        </div>
    </main>
</body>
</html>