main {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    place-items: center;
    place-content: center;
    gap: 1em;

    > h1, > h2 {
        font-weight: 800;
        font-family: var(--font-title);
    }
    > h1 {
        font-size: 2.5rem;
        color: var(--color-black);
        background-color: var(--color-secondary);
        padding: 1em;
        box-shadow: -.1em -.1em var(--color-white),
                    -.2em -.2em var(--color-secondary),
                    .05em .05em var(--color-black);
        border-radius: .2em;
    }
    > h2 {
        font-size: 1.5rem;
        color: var(--color-primary);
    }
    > span {
        margin-top: 1em;
    }
    a {
        padding: .6em .8em;
        margin: 0 .4em;
        color: inherit;

        border-radius: .5em;
        text-decoration: none;
        outline: .125em solid var(--color-border);

        &:hover {
            color: var(--color-highlight);
            outline-width: .125em;
            outline-color: var(--color-highlight);
        }
        &:active {
            color: var(--color-white);
            background-color: var(--color-highlight);
            outline-color: transparent;
        }
        &:focus-visible {
            color: var(--color-spotlight);
            outline-width: .25em;
            outline-color: var(--color-spotlight);
        }
    }
}