main {
    display: grid;
}

section#products-list {
    width: 100%;
    padding: 4em 6em;
    margin: 2.5em 0;
    background-color: var(--color-border);

    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 450px;
    place-content: center;
}

.product-card {
    width: 100%;
    height: 100%;
    border-radius: .5em;

    text-decoration: none;
    font-family: var(--font-title);
    display: grid;
    grid-template-rows: 300px 1fr;
    overflow: hidden;

    color: var(--color-text);
    background-color: var(--color-white);
    box-shadow: 0 2px 4px var(--shadow);

    cursor: pointer;
    transition: box-shadow 200ms ease;
    * { pointer-events: none; }

    &:hover, &:focus-within {
        box-shadow: 0 0 15px 2px var(--shadow);
        z-index: 10;
    }

    .card-header {
        aspect-ratio: 1 / 1;
        overflow: hidden;

        background-color: var(--color-border-light);
        box-shadow: 0 1px 0 var(--color-border-light);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
    .card-body {
        padding: 5%;
        display: flex;
        flex-direction: column;

        .product-stock {
            width: fit-content;
            padding: .2em 1em;

            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 800;
            border-radius: .5em;

            display: none;
            visibility: hidden;

            &.has-stock {
                color: var(--color-secondary);
                box-shadow: inset 0 0 0 2px var(--color-secondary);
            }
            &.no-stock {
                color: var(--color-text);
                box-shadow: inset 0 0 0 2px var(--color-border);
            }
            &.has-stock, &.no-stock {
                display: block;
                visibility: visible;
            }
        }
        .product-title {
            margin: .5em 0;
            font-size: 1rem;
            font-weight: 400;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
        }
        .product-price {
            font-weight: 800;
        }
    }
}