@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-title: 'Nunito', system-ui, sans-serif;
    --font-text: 'Open Sans', system-ui, sans-serif;

    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);
    --color-primary: oklch(0.3056 0.0542 229.53);
    --color-secondary: oklch(0.877 0.1792 94.25);
    --color-text: oklch(0.2972 0 0);
    --color-highlight: oklch(0.4135 0.1095 261.09);
    --color-spotlight: oklch(0.5487 0.0893 180.93);
    --color-border: oklch(0.9377 0 0);
    --color-border-light: oklch(from var(--color-border) calc(l * 1.05) c h);

    --shadow: oklch(from var(--color-black) l c h / 10%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    min-height: 100vh;
    overflow-x: hidden;

    background-color: var(--color-white);
    color: var(--color-text);
    font-family: var(--font-text);

    display: grid;
    grid-template-areas:
        'header'
        'main';
    grid-template-rows: auto 1fr;

    > header { grid-area: header; }
    > main { grid-area: main; }
}

header {
    width: 100%;
    height: 80px;
    padding: 0 1.5em;
    display: flex;
    align-items: center;

    border-top: 4px solid var(--color-secondary);
    background-color: var(--color-white);

    z-index: 1000;

    .logo-container {
        img { display: block; }
    }

    &:has(> nav) {
        top: 0;
        position: sticky;
        box-shadow: 0 1px var(--color-border);

        nav {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            align-items: center;
            gap: 1.5em;
        }
        .links-container {
            display: flex;
            list-style: none;
            gap: 1em;

            .nav-links {
                height: 65px;
                padding: 0 .5em;
                border-radius: .5em;

                text-decoration: none;
                color: inherit;
                outline: .25em solid transparent;

                display: flex;
                place-items: center;
                position: relative;

                &:not(:focus-visible):hover::before{
                    display: block;
                    visibility: visible;
                }
                &:focus-visible {
                    outline-color: var(--color-spotlight);
                }
            }
            .nav-links::before {
                content: '';
                width: 100%;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: var(--color-secondary);

                position: absolute;
                display: none;
                visibility: hidden;
            }
        }
    }
}